%base-button-styles {
	background: none;
	border: 1px solid currentColor;
	color: currentColor;
	border-radius: 0;
	//box-shadow: none;
	font-family: $headingFontFamily;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	//text-shadow: none;
	vertical-align: middle;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	span{
		background: none;
		color: inherit;
		height: auto;
		line-height: inherit;
		padding: 0 2em;
	}
}
button {
	&.defaultBtn,  &.modalBtn,  &.largeBtn {
		@extend %base-button-styles;
		@include mainButtonColor;

		&:hover, &:active{
			//box-shadow: inset 0 1px 0 0 lighten($boxShadowHover, 10%);
			background: $linkColor;
			color: white;
			@include mainButtonHover;
		}
	}

	&.modalBtn, &.altModalBtn{
		height: 2.5em;
		line-height: inherit;
	}

	&.altBtn, &.altModalBtn, &.altLargeBtn{
		@extend %base-button-styles;
		@include altButtonColor;

		&:hover, &:active{
			//box-shadow: inset 0 1px 0 0 $altBoxShadowColor;
			background: $fontColor;
			color: white;
			@include altButtonHover;
		}
	}
}

a{
	&.linkBtn, &.modalLinkBtn, &.largeLinkBtn{
		@extend %base-button-styles;
		@include mainButtonColor;

		&:hover, &:active{
			@include mainButtonHover;
			//box-shadow: inset 0 1px 0 0 lighten($boxShadowHover, 20%);
		}
	}

	&.linkAltBtn, &.modalLinkAltBtn, &.modalLinkAltBtn{
		@extend %base-button-styles;
		@include altButtonColor;

		&:hover, &:active{
			@include altButtonHover;
			//box-shadow: inset 0 1px 0 0 $altBoxShadowColor;
		}
	}

	&.modalLinkBtn, &.modalLinkAltBtn, &.modalLinkAltBtn{
		min-width: auto;
	}
}
