
.site-footer {
	margin-top: 3em;
	&__info {
		&__wrapper {
			background: {
				color: #fff;
				image: url('../images/footer-bg.jpg');
				repeat: no-repeat;
				position: center;
				size: cover;
			}
			padding: 54px 0;
		}
		&.fw-container {
			padding: 0 1.5%;
		}
		> li {
			padding: 30px 1.5%;
			display: none;
			font-size: 15px;
			line-height: 2.2em;
			&:nth-child(n+3) {
				display: block;
			}
		}
		.quick-links {
			a {
				text-transform: uppercase;
				font-weight: 100;
			}
		}
		.hours {
			font-size: inherit;
			line-height: inherit;
			a {
				color: rgba($aurora-brown,0.61);
				text-decoration: underline;
			}
		}
		.v65-pod {
			margin-top: 2em;
			&:first-child {
				margin-top: 0;
			}
			&Title {
				@extend h3;
				text-transform: uppercase;
				text-decoration: underline;
			}
		}

		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			> li {
				display: block;
				flex-basis: 50%;
			}
			.v65-podTitle {
				font-size: 1.2em;
			}
		}
		@media screen and (min-width: 980px) {
			flex-wrap: nowrap;
			justify-content: space-between;
			> li {
				flex-basis: auto;
				max-width: 25%;
			}
		}
	}
	&__terms-copyright {
		background-color: #041e00;
		padding: 10px 0;
		a {
			color: white;
		}
	}
	text-align: center;
	@media screen and (min-width: 768px) {
		text-align: left;
	}
}


.v65-socialMediaLinks {
	letter-spacing: -5px;
	white-space: nowrap;
	li {
		margin-right: 0;
	}
	a {
		border-radius: 100%;
		width: 32px;
		height: 32px;
		background: $linkColor;
		display: inline-block;
		text-align: center;
		color: white;
		font-size: 16px;
		line-height: 32px;
		margin-right: 8px;
		letter-spacing: 0;
	}
}
