$header-border: 1px solid rgba( $aurora-brown, .1);
$header-link-color: $aurora-purple;
$header-link-hover-color: $aurora-brown;
$logo-height: 70px;
$logo-width: 280px;

.site-header {
	$logo-padded-width: ($logo-width + ( 2 * 11px )); // 11px padding l/r
	background: white;
	margin-bottom: 3em;
	box-shadow: 0px 9px 20px 2px rgba(0,0,0,0.24);
	.preheader {
		//z-index: 1;
	}
	.logo {
		margin: 0 auto;
		width: $logo-padded-width;
		//height: 103px;
		text-align: center;
		margin-bottom: -57px;
		margin-bottom: ($logo-height + ( 3 * 11px )) * -1; // 22px padding t + 11 padding b
		padding: 22px 11px 11px;
		vertical-align: middle;
		position: relative;
		z-index: 2;
		a {
			vertical-align: middle;
			display: block;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.nav-container {
		display: flex;
		padding: 29px 0;
	}
	.nav {
		flex: 0 0 50%;
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;

		&.left {
			padding-right: $logo-padded-width / 2;
			justify-content: flex-end;
		}
		&.right {
			padding-left: $logo-padded-width / 2;
			justify-content: flex-start;
		}

		text-transform: uppercase;
		a {
			color: $header-link-color;
			text-decoration: none;
			padding: 11px;
			letter-spacing: 1px;
			display: block;
			&:hover {
				color: $header-link-hover-color;
			}
		}

		ul {
			font-size: 14px;
			list-style: none;
			margin: 0;
			padding: 0 0 0 1em;
			text-transform: none;
			
			@media screen and (min-width: 951px){
				//background: url('../images/header-overlay.png');
				background: rgba(white,0.8);
				padding: 0;
				position: absolute;
				left: 0;
				top: 100%;
				width: 200px;
				display: none;
				z-index: 3;
			}
		}
		li {
			position: relative;
			&:hover ul {
				@media screen and (min-width: 951px){
					display: block;
				}
			}
		}
	}
	@media screen and (max-width: 899px) {
		.navbar {
			//position: relative;
		}

		.logo {
			width: auto;
			max-width: 40%;
			text-align: left;
			margin: 0;
		}

		.nav-container {
			display: block;
			padding: 140px 15px 15px;

			background: white;
			position: fixed;
			height: 100vh;
			overflow: auto;
			z-index: 20;
			width: 300px;
			right: -300px;
			top: 0;
			transition: right .4s ease-in-out, box-shadow .4s ease-in-out;
			.nav-open & {
				box-shadow: -20px 0 20px rgba(black, .2);
				right: 0;
			}
		}
		.nav {
			text-align: left;
			display: block;
			&.left, &.right {
				padding: 0;
			}
			a {
				display: block;
			}
		}
	}
}

.nav-toggle {
	user-select: none;
	cursor: pointer;
	height: 2rem;
	right: 1rem;
	position: absolute;
	top: 4.5rem;
	width: 2rem;
	z-index: 25;
	display: none;
	&:hover {
		opacity: .8;
	}
	&-bar {
		&:after,
		&:before,
		& {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: all .5s ease;
			background: $header-link-color;
			content: '';
			height: 4px;
			width: 100%;
			margin-top: 0;
		}
		&:after {
			margin-top: 8px;
		}
		&:before {
			margin-top: -8px;
		}
		.nav-open & {
			background: transparent;
			&:after,
			&:before {
				background: $header-link-hover-color;
				margin-top: 0;
			}
			&:after {
				transform: rotate(45deg);
			}
			&:before {
				transform: rotate(-45deg);
			}
		}
	}
}

/// Mobile menu
@media screen and (max-width: 899px) {
	.nav-toggle {
		display: block;
	}
	body {
		&:after {
			position: fixed;
			top: 0;
			right: 0;
			width: 0;
			height: 100%;
			content: '';
			background: rgba(black, .3);
			transition: width 0s linear 0.4s, opacity 0.4s ease-in-out;
			opacity: 0;
			z-index: 15;
		}
		&.nav-open{
			height: 100%;
			overflow: hidden;
			&:after {
				width: 100%;
				display: block;
				opacity: 1;
				transition: width 0s linear 0s, opacity 0.4s ease-in-out;
			}
		}
	}

}






.preheader {
	display: flex;
	border-bottom: $header-border;
	line-height: 2.5em;   // roughly 36px
	position: relative;
	> div {
		display: block;
		width: auto;
		border-right: $header-border;
		&:first-of-type {
			border-right: none;
		}
	}
}

#v65-modalCart,
.v65-yourAccount,
.v65-editProfile,
.v65-login,
.v65-logout {
	border: none;
	margin: 0;
	padding: 0;
	line-height: inherit;

	> a {
		display: block;
		padding: 0 11px;
		line-height: inherit;
		text-transform: uppercase;
		font-size: .85em;
		text-decoration: none;
		&:hover {
			background: rgba( $aurora-brown, .1);
		}
	}
}
#v65-modalCart {
	order: 3;
	position: static;
	margin-left: auto;
	border-left: $header-border;
	#v65-toggleModalCart {
		display: block;
		width: auto;
		line-height: inherit;
	}
}

// override responsive styles
@media screen and (max-width: 580px) {
	#v65-modalCart,
	.v65-yourAccount,
	.v65-editProfile,
	.v65-login,
	.v65-logout {
		border: none;
		float: none;
		line-height: inherit;
		height: auto;
		width: auto;
		display: block;
	}
	//#v65-modalCart {
		//border-left: none;
		#v65-modalCartDropdown {
			top: 100%;
			//width: 300%;
		}
	//}
	.preheader {
		line-height: 3em;
		> div {
			//flex: 1 1 33%;
			> a {
				display: block;
				width: 100%;
			}
		}
	}
}




