

/* ----- b. Sub Menu ----- */
.subMenu{
	margin-bottom: 0;
	margin-top: 1rem;

	@media screen and (min-width: 768px){
		float: left;
		margin-right: 4%;
		//padding-right: 2%;
		width: 21%;
		margin-top: 0;
	}

	h3{
		@media screen and (max-width: 767px){
			display: none;		
		}
	}

	ul{
		list-style: none;
		margin-bottom: 0;
		padding: 0;
	}

	li{
		line-height: 1.4;

		@media screen and (max-width: 767px){
			//border-top: 1px solid $bgBorder;
			line-height: 44px;
			text-align: center;
		}

		ul{
			margin-left: 10px;
		}
	}

	a{
		color: $fontColor;
		display: inline-block;
		line-height: 1.5;
		padding: 5px 0;
		width: 100%;
	}

	.v65-pageAParent {
	}

	.v65-leftSelected{
		font-weight: bold;
	}

}
