@import "themes/themeSettings_aurora";

$maxWidth: 1080px;
$fontFamily: Merriweather, serif;
$headingFontFamily: Cinzel, serif;

@mixin boxSizing {
	box-sizing: border-box;
}
@mixin gradient($color1, $color2) {
	background-color: $color1;
	background-image: linear-gradient(to bottom, $color1, $color2);
}
@mixin selfClearing() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	
	a {
		display:block;
		height:100%;
	}
}
