// Colors
$aurora-purple: #4d3040;
$aurora-purple-light: lighten( $aurora-purple, 10% );
$aurora-brown:  #a36e44;
$aurora-brown-light: lighten( $aurora-brown, 10% );
$aurora-green:  #041e00;
$aurora-cream:  #f6f3e5;
$grey: #666;
$grey-light: #ccc;
$grey-dark: #333;
$black: #000;
$white: #fff;
$offWhite: #f1f1f1;
$blue: #369;
$blue-light: #3b73ac;
$blue-dark: #2e5b87;
$offBlack: #111;
$flatgrey: #999999;

// Font Colors
$fontColor: $grey; // Main Body Content font color
$linkColor: $aurora-purple; // Main Body content link color

// Background Color
$backgroundColor: $aurora-cream; // Main Background Color
$homepageContentColor: $white; // Homepage content background color
$contentBackgroundColor: $white; //Content background color
$contentBoxShadow: $flatgrey;
// keep contentBoxShadow and contentBackgroundColor, but add a rule after partials/content to negate

// Heading Colors
$headingFontColor: $grey-dark; // Default Heading Font Color
$headerFontColor: $grey-dark; // Font Color outside the container
$headerFontColorHover: $black; // Hover font color outside the container

// User Tools Colors
$topBarColor: $black; // User Tools background color
$userToolsLinkColor: $grey-light; // Link Color for user tools

// Navigation Colors
$navLinkColor: $grey-dark; //Font Color for main navigation
$navLinkHover: $black; //Font Hover for main navigation

$navSelected: $black;
$leftNavSelected: $black;

$subNavLinkColor: $grey; //Font Color for sub navigation
$subNavLinkHover: $black; //Font Color for sub navigation hover
$subNavBackgroundColor: $white; //Background Color for sub navigation

// Footer Colors
$footerColor: $grey; //Footer Color
$footerLink: $grey-light; // Footer Link
$footerLinkHover: $white; // Footer Link Hover

$footerFontColor: $grey-dark; //Font Color outside the container
$footerFontColorHover: $black; // Hover font color outside the container

// Border Colors
$borderColor: $grey-light; // Main Border Color

// Button Colors
@mixin mainButtonColor() {
	color: $linkColor;
} 

@mixin mainButtonHover() {
	background: $linkColor;
	color: white;
} 

$mainButtonText: $white; // Main Button Font Color
$boxShadowColor: $blue; // Box Shadow Color
$boxShadowHover: $blue-light; // Box Shadow Hover Color

@mixin altButtonColor() {
	color: $aurora-brown;
} 

@mixin altButtonHover() {
	background: $aurora-brown;
	color: white;
} 

$altButtonText: $black; // Alt Button Font Color
$altBoxShadowColor: $grey-light; // Box Shadow Color

// Form Colors
$quanityForm: $grey-light; // Add to cart quanity input form field background color.
$quanityFormFont: $black; // Add to cart quanity input form field font color.

// Back to Top Colors
$backToTop: $grey-dark; // Back to top button color
$backToTopFont: $white; // Back to top button font color

// Logo Settings
$logo: 'logo.png';
$logo-retina: 'logo@2x.png';
