@charset "utf-8";

@import "https://fonts.googleapis.com/css?family=Cinzel:regular,700,900|Merriweather:300,300italic,regular,italic,700,700italic,900,900italic";

@import "normalize";
@import 'partials/font';
@import '../nivo/nivo-slider';

@import "partials/variables";
@import "partials/typography";
@import "partials/header";
@import "partials/navigation";
@import "partials/content";
.content, .homepageContent {
	//background: none;
	box-shadow: 0 0 7px rgba($black, .07);
	max-width: $maxWidth;
	margin: 0 auto;
}
@import "partials/blog";
@import "partials/buttons";
@import "partials/footer";

body {
	color: #666;
	min-width: 350px;
}




.fw-container {
	width: 100%;
	margin: 0 auto;
	max-width: none;
	padding: 0 3%;
}



// Kind of gross, but this is not organized very well at all yet
.v65-productWrapper h1 {
	float: none;
	width: auto;
}
