@import "https://fonts.googleapis.com/css?family=Cinzel:regular,700,900|Merriweather:300,300italic,regular,italic,700,700italic,900,900italic";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{
  line-height:1.15;
  -webkit-text-size-adjust:100%;
}
main{
  display:block;
}
h1{
  font-size:2em;
  margin:.67em 0;
}
hr{
  box-sizing:content-box;
  height:0;
  overflow:visible;
}
pre{
  font-family:monospace,monospace;
  font-size:1em;
}
a{
  background-color:transparent;
}
abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  -webkit-text-decoration:underline dotted;
          text-decoration:underline dotted;
}
b,strong{
  font-weight:bolder;
}
code,kbd,samp{
  font-family:monospace,monospace;
  font-size:1em;
}
small{
  font-size:80%;
}
sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub{
  bottom:-.25em;
}

sup{
  top:-.5em;
}
img{
  border-style:none;
}
button,input,optgroup,select,textarea{
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0;
}
button,input{
  overflow:visible;
}
button,select{
  text-transform:none;
}
[type=button],[type=reset],[type=submit],button{
  -webkit-appearance:button;
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
  border-style:none;
  padding:0;
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
  outline:1px dotted ButtonText;
}
fieldset{
  padding:.35em .75em .625em;
}
legend{
  box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal;
}
progress{
  vertical-align:baseline;
}
textarea{
  overflow:auto;
}
[type=checkbox],[type=radio]{
  box-sizing:border-box;
  padding:0;
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
  height:auto;
}
[type=search]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}
[type=search]::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
details{
  display:block;
}
summary{
  display:list-item;
}
[hidden],template{
  display:none;
}

@font-face{
  font-family:icomoon;
  src:url(../font/icomoon.eot?-4xo876);
  src:url(../font/icomoon.eot?#iefix-4xo876) format("embedded-opentype"), url(../font/icomoon.woff?-4xo876) format("woff"), url(../font/icomoon.ttf?-4xo876) format("truetype"), url(../font/icomoon.svg?-4xo876#icomoon) format("svg");
  font-weight:400;
  font-style:normal;
}

[class*=" icon-"],[class^=icon-]{
  font-family:icomoon;
  speak:none;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.icon-search-1:before{
  content:"\f002";
}

.icon-phone-1:before{
  content:"\f095";
}

.icon-mail:before{
  content:"\f0e0";
}

.icon-acrobat:before{
  content:"\f1c1";
}

.icon-down-bold:before{
  content:"\e60a";
}

.icon-up-bold:before{
  content:"\e60b";
}

.icon-comments:before{
  content:"\e60c";
}

.icon-clock:before{
  content:"\e60e";
}

.icon-link:before{
  content:"\e60d";
}

.icon-location:before{
  content:"\e609";
}

.icon-menu:before{
  content:"\e600";
}

.icon-yelp:before{
  content:"\e608";
}

.icon-facebook:before{
  content:"\e601";
}

.icon-gplus:before{
  content:"\e602";
}

.icon-instagram:before{
  content:"\e607";
}

.icon-pinterest:before{
  content:"\e603";
}

.icon-twitter:before{
  content:"\e604";
}

.icon-vimeo:before{
  content:"\e605";
}

.icon-youtube:before{
  content:"\e606";
}
.nivoSlider{
  position:relative;
  width:100%;
  height:auto;
  overflow:hidden;
  background:#fff url(../nivo/loading.gif) no-repeat 50% 50%;
}

.nivoSlider img{
  position:absolute;
  top:0;
  left:0;
}

.nivo-main-image{
  display:block !important;
  position:relative !important;
  width:100% !important;
}
.nivoSlider a.nivo-imageLink{
  left:0;
  width:100%;
  border:0;
  padding:0;
  margin:0;
  z-index:6;
  display:none;
  cursor:hand;
  background-color:#fff;
  filter:alpha(opacity=0);
  opacity:0;
}
.nivo-slice,.nivoSlider a.nivo-imageLink{
  position:absolute;
  top:0;
  height:100%;
}

.nivo-box,.nivo-slice{
  display:block;
  z-index:5;
}

.nivo-box{
  position:absolute;
  overflow:hidden;
}

.nivo-box img{
  display:block;
}
.nivo-caption{
  position:absolute;
  left:0;
  bottom:0;
  background:#000;
  color:#fff;
  width:100%;
  z-index:8;
  padding:5px 10px;
  opacity:.8;
  overflow:hidden;
  display:none;
  -moz-opacity:.8;
  filter:alpha(opacity=8);
  box-sizing:border-box;
}

.nivo-caption p{
  padding:5px;
  margin:0;
}

.nivo-caption a{
  display:inline !important;
}

.nivo-html-caption{
  display:none;
}
.nivo-directionNav a{
  display:block;
  width:30px;
  height:30px;
  background:url(../nivo/arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
  position:absolute;
  top:45%;
  z-index:9;
  cursor:pointer;
}

a.nivo-prevNav{
  left:15px;
}

a.nivo-nextNav{
  background-position:-30px 0;
  right:15px;
}
.nivo-controlNav{
  text-align:center;
  padding:15px 0;
}

.nivo-controlNav a{
  display:inline-block;
  width:22px;
  height:22px;
  background:url(../nivo/bullets.png) no-repeat;
  color:transparent;
  border:0;
  margin:0 2px;
  cursor:pointer;
}

.nivo-controlNav a.active{
  background-position:0 -22px;
}

.hideText{
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
}

.hideText a{
  display:block;
  height:100%;
}

html{
  box-sizing:border-box;
}

*,:after,:before{
  box-sizing:inherit;
}

body{
  background-color:#f6f3e5;
  font-family:Merriweather,serif;
  margin:0;
  padding:0;
  font-size:14px;
  line-height:1.7;
}

.site-footer__info .v65-podTitle,h1,h2,h3,h4,h5,h6{
  color:#333;
  font-family:Cinzel,serif;
  font-weight:500;
  line-height:1em;
  margin:0 0 10px;
  padding:0;
}

.site-footer__info .v65-podTitle a,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
  color:inherit;
}

h1{
  font-size:3em;
}

h2{
  font-size:2.25em;
}

.site-footer__info .v65-podTitle,h3{
  font-size:1.5em;
}

h4{
  font-size:1.3125em;
}

h5{
  font-size:1.125em;
}

h6{
  font-size:1em;
}

.v65-title{
  font-size:2em;
}

.v65-subtitle,.v65-title{
  color:#333;
  font-family:Cinzel,serif;
  line-height:1;
}

.v65-subtitle{
  font-size:1.5em;
  font-weight:400;
}

blockquote,p{
  margin:0 0 1em;
}

dl,ol,ul{
  margin:0 0 1.5em;
}

dd,dt,li{
  margin:0;
}

a{
  color:#4d3040;
  text-decoration:none;
}

a:active,a:focus,a:hover{
  text-decoration:underline;
}

img{
  border:none;
  height:auto !important;
  max-width:100%;
}

form{
  margin-bottom:1em;
}

hr,legend{
  color:#666;
}

hr{
  background-color:#666;
  border:0;
  height:1px;
}

a[name=footerNav]{
  display:none !important;
}

.site-header{
  background:#fff;
  margin-bottom:3em;
  box-shadow:0 9px 20px 2px rgba(0, 0, 0, .24);
}

.site-header .logo{
  width:302px;
  text-align:center;
  margin:0 auto -103px;
  padding:22px 11px 11px;
  vertical-align:middle;
  position:relative;
  z-index:2;
}

.site-header .logo a{
  vertical-align:middle;
  display:block;
}

.site-header .logo img{
  max-width:100%;
  height:auto;
}

.site-header .nav-container{
  display:-ms-flexbox;
  display:flex;
  padding:29px 0;
}

.site-header .nav{
  -ms-flex:0 0 50%;
      flex:0 0 50%;
  margin:0;
  padding:0;
  list-style:none;
  display:-ms-flexbox;
  display:flex;
  text-transform:uppercase;
}

.site-header .nav.left{
  padding-right:151px;
  -ms-flex-pack:end;
      justify-content:flex-end;
}

.site-header .nav.right{
  padding-left:151px;
  -ms-flex-pack:start;
      justify-content:flex-start;
}

.site-header .nav a{
  color:#4d3040;
  text-decoration:none;
  padding:11px;
  letter-spacing:1px;
  display:block;
}

.site-header .nav a:hover{
  color:#a36e44;
}

.site-header .nav ul{
  font-size:14px;
  list-style:none;
  margin:0;
  padding:0 0 0 1em;
  text-transform:none;
}

@media screen and (min-width:951px){
  .site-header .nav ul{
    background:hsla(0, 0%, 100%, .8);
    padding:0;
    position:absolute;
    left:0;
    top:100%;
    width:200px;
    display:none;
    z-index:3;
  }
}

.site-header .nav li{
  position:relative;
}

@media screen and (min-width:951px){
  .site-header .nav li:hover ul{
    display:block;
  }
}

@media screen and (max-width:899px){
  .site-header .logo{
    width:auto;
    max-width:40%;
    text-align:left;
    margin:0;
  }
  .site-header .nav-container{
    display:block;
    padding:140px 15px 15px;
    background:#fff;
    position:fixed;
    height:100vh;
    overflow:auto;
    z-index:20;
    width:300px;
    right:-300px;
    top:0;
    transition:right .4s ease-in-out,box-shadow .4s ease-in-out;
  }
  .nav-open .site-header .nav-container{
    box-shadow:-20px 0 20px rgba(0, 0, 0, .2);
    right:0;
  }
  .site-header .nav{
    text-align:left;
    display:block;
  }
  .site-header .nav.left,.site-header .nav.right{
    padding:0;
  }
  .site-header .nav a{
    display:block;
  }
}

.nav-toggle{
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  cursor:pointer;
  height:32px;
  height:2rem;
  right:16px;
  right:1rem;
  position:absolute;
  top:72px;
  top:4.5rem;
  width:32px;
  width:2rem;
  z-index:25;
  display:none;
}

.nav-toggle:hover{
  opacity:.8;
}

.nav-toggle-bar,.nav-toggle-bar:after,.nav-toggle-bar:before{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  transition:all .5s ease;
  background:#4d3040;
  content:"";
  height:4px;
  width:100%;
  margin-top:0;
}

.nav-toggle-bar:after{
  margin-top:8px;
}

.nav-toggle-bar:before{
  margin-top:-8px;
}

.nav-open .nav-toggle-bar{
  background:transparent;
}

.nav-open .nav-toggle-bar:after,.nav-open .nav-toggle-bar:before{
  background:#a36e44;
  margin-top:0;
}

.nav-open .nav-toggle-bar:after{
  transform:rotate(45deg);
}

.nav-open .nav-toggle-bar:before{
  transform:rotate(-45deg);
}

@media screen and (max-width:899px){
  .nav-toggle{
    display:block;
  }
  body:after{
    position:fixed;
    top:0;
    right:0;
    width:0;
    height:100%;
    content:"";
    background:rgba(0, 0, 0, .3);
    transition:width 0s linear .4s,opacity .4s ease-in-out;
    opacity:0;
    z-index:15;
  }
  body.nav-open{
    height:100%;
    overflow:hidden;
  }
  body.nav-open:after{
    width:100%;
    display:block;
    opacity:1;
    transition:width 0s linear 0s,opacity .4s ease-in-out;
  }
}

.preheader{
  display:-ms-flexbox;
  display:flex;
  border-bottom:1px solid rgba(163, 110, 68, .1);
  line-height:2.5em;
  position:relative;
}

.preheader>div{
  display:block;
  width:auto;
  border-right:1px solid rgba(163, 110, 68, .1);
}

.preheader>div:first-of-type{
  border-right:none;
}

#v65-modalCart,.v65-editProfile,.v65-login,.v65-logout,.v65-yourAccount{
  border:none;
  margin:0;
  padding:0;
  line-height:inherit;
}

#v65-modalCart>a,.v65-editProfile>a,.v65-login>a,.v65-logout>a,.v65-yourAccount>a{
  display:block;
  padding:0 11px;
  line-height:inherit;
  text-transform:uppercase;
  font-size:.85em;
  text-decoration:none;
}

#v65-modalCart>a:hover,.v65-editProfile>a:hover,.v65-login>a:hover,.v65-logout>a:hover,.v65-yourAccount>a:hover{
  background:rgba(163, 110, 68, .1);
}

#v65-modalCart{
  -ms-flex-order:3;
      order:3;
  position:static;
  margin-left:auto;
  border-left:1px solid rgba(163, 110, 68, .1);
}

#v65-modalCart #v65-toggleModalCart{
  display:block;
  width:auto;
  line-height:inherit;
}

@media screen and (max-width:580px){
  #v65-modalCart,.v65-editProfile,.v65-login,.v65-logout,.v65-yourAccount{
    border:none;
    float:none;
    line-height:inherit;
    height:auto;
    width:auto;
    display:block;
  }
  #v65-modalCartDropdown{
    top:100%;
  }
  .preheader{
    line-height:3em;
  }
  .preheader>div>a{
    display:block;
    width:100%;
  }
}
.subMenu{
  margin-bottom:0;
  margin-top:1rem;
}

@media screen and (min-width:768px){
  .subMenu{
    float:left;
    margin-right:4%;
    width:21%;
    margin-top:0;
  }
}

@media screen and (max-width:767px){
  .site-footer__info .subMenu .v65-podTitle,.subMenu .site-footer__info .v65-podTitle,.subMenu h3{
    display:none;
  }
}

.subMenu ul{
  list-style:none;
  margin-bottom:0;
  padding:0;
}

.subMenu li{
  line-height:1.4;
}

@media screen and (max-width:767px){
  .subMenu li{
    line-height:44px;
    text-align:center;
  }
}

.subMenu li ul{
  margin-left:10px;
}

.subMenu a{
  color:#666;
  display:inline-block;
  line-height:1.5;
  padding:5px 0;
  width:100%;
}

.subMenu .v65-leftSelected{
  font-weight:700;
}

#v65-modalContentHeader{
  background:#333;
}

.content{
  background:#fff;
  box-shadow:0 0 20px #999;
}

@media screen and (max-width:767px){
  .pageContent{
    padding:1em;
  }
}

@media screen and (min-width:768px){
  .pageContent{
    padding:3em;
  }
}
.homepageContent{
  background:#fff;
  box-shadow:0 0 2em #999;
}

.homepageText{
  margin-bottom:2em;
}

@media screen and (max-width:700px){
  .homepageText{
    padding:0 4%;
  }
}

@media screen and (min-width:701px) and (max-width:900px){
  .homepageText{
    float:left;
    padding:0 4% 4%;
    width:49%;
  }
}

@media screen and (min-width:901px){
  .homepageText{
    width:52%;
    float:left;
    padding:0 4% 4%;
  }
}

.homepageProductGroup{
  margin:0 0 2em;
}

@media screen and (max-width:700px){
  .homepageProductGroup{
    padding:0 4%;
  }
}

@media screen and (min-width:701px) and (max-width:900px){
  .homepageProductGroup{
    float:left;
    padding:0 4% 4% 0;
    width:39%;
  }
}

@media screen and (min-width:901px){
  .homepageProductGroup{
    float:left;
    padding:0 4% 4% 0;
    width:36%;
  }
}

.homepageProductGroup .v65-productGroup-products{
  text-align:left;
  width:100%;
}

.homepageProductGroup .v65-productGroup-title{
  color:#333;
  font-family:Cinzel,serif;
  font-size:26px;
  line-height:1.2;
  margin:.25em 0 .5em;
}

.homepageProductGroup .v65-productGroup-teaser{
  float:none;
  margin:0;
  width:100%;
}

.homepageProductGroup .v65-productGroup-product{
  margin:0 0 1em;
  width:100%;
}

.homepageProductGroup .v65-product-photo{
  float:left;
  width:auto;
}

#slider{
  height:0;
  padding-top:35%;
  overflow:hidden;
  width:100%;
}

#slider .nivo-main-image{
  position:absolute !important;
}
.backToTop{
  background:#333;
  bottom:1em;
  color:#fff;
  border:1px solid #ccc;
  border-radius:50%;
  display:none;
  height:5em;
  line-height:5em;
  opacity:.6;
  position:fixed;
  right:1em;
  text-align:center;
  text-decoration:none;
  width:5em;
  z-index:1000;
}

@media screen and (min-width:768px){
  .page{
    float:right;
    width:75%;
  }
}

.colWrapper{
  margin-bottom:2em;
  width:100%;
}

.colWrapper:after,.colWrapper:before{
  content:"";
  display:table;
}

.colWrapper:after{
  clear:both;
}

.col2{
  margin-left:6%;
}

.col2,.col2:first-child{
  float:left;
  width:47%;
}

.col2:first-child{
  margin-left:0;
}

.col22{
  float:left;
  margin-left:6%;
  width:29%;
}

.col22:first-child{
  margin-left:0;
  width:65%;
}

.col3{
  margin-left:5%;
}

.col3,.col3:first-child{
  float:left;
  width:30%;
}

.col3:first-child{
  margin-left:0;
}

.col4{
  float:left;
  margin-left:3%;
  width:22.7%;
}

.col4:first-child{
  margin-left:0;
}

@media screen and (max-width:850px){
  .col4{
    margin:0 2% 3em;
    width:46%;
  }
  .col4:first-child{
    margin-left:2%;
  }
}

@media screen and (max-width:580px){
  .col2{
    margin-left:0;
    margin-bottom:1.5em;
  }
  .col2,.col2:first-child,.col22,.col22:first-child{
    float:none;
    width:100%;
  }
  .col22,.col22:first-child{
    margin:0 0 2em;
  }
  .col3{
    margin-left:0;
    margin-bottom:1.5em;
  }
  .col3,.col3:first-child,.col4,.col4:first-child{
    float:none;
    width:100%;
  }
  .col4,.col4:first-child{
    margin:0 0 2em;
  }
}

.v65-border,.v65-featureLeft,.v65-featureRight,.v65-left,.v65-right{
  box-sizing:border-box;
}
@media screen and (max-width:725px){
  #v65-fieldset-billingInfo,#v65-fieldset-paymentMethod,#v65-fieldset-shippingInfo,#v65-fieldset-shippingOptions,#v65-fieldset-sourceCode,#v65-fieldset-usernamePassword,#v65-fieldset-wholesalerInfo{
    width:98%;
  }
}

.v65-productGroup-teaser{
  width:100%;
}

.v65-productGroup-product:first-child{
  margin-left:0;
}

@media screen and (max-width:750px){
  .v65-productGroup .v65-clear{
    display:none;
  }
}

.v65-productGroup .v65-clear.productGroup-2Up-rowClear{
  display:none;
}

@media screen and (min-width:581px) and (max-width:599px){
  .v65-productGroup .v65-clear.productGroup-2Up-rowClear{
    display:block;
  }
}

.v65-productGroup .v65-clear.productGroup-3Up-rowClear{
  display:none;
}

@media screen and (min-width:600px) and (max-width:750px){
  .v65-productGroup .v65-clear.productGroup-3Up-rowClear{
    display:block;
  }
}

@media screen and (max-width:720px){
  .print{
    margin:0 10px;
  }
}

@media screen and (max-width:580px){
  .v65-product1Up .v65-product-photo{
    margin-right:4%;
    width:21%;
  }
}

.v65-product2Up .v65-product-photo{
  margin:0 15px;
}

@media screen and (max-width:580px){
  .v65-product1UpStore .v65-product-photo{
    margin-right:3%;
    width:16%;
  }
}

@media screen and (max-width:580px){
  .v65-product1UpStore .v65-product-commerceWrapper,.v65-product1UpStore .v65-product-infoWrapper{
    width:81%;
  }
}

.homepageProductGroup .v65-product-photo{
  margin:0 15px 0 0;
}

.v65-paging{
  clear:left;
}

@media screen and (min-width:501px){
  #v65-navBrand,#v65-navRegionAppellation,div#v65-navTypeVarietal{
    float:left;
    width:33.33%;
  }
}

.content,.homepageContent{
  box-shadow:0 0 7px rgba(0, 0, 0, .07);
  max-width:1080px;
  margin:0 auto;
}

@media screen and (min-width:581px){
  .blogContent{
    float:left;
    width:75%;
  }
}

@media screen and (min-width:768px){
  .blogContent{
    padding:4% 4% 0 0;
    width:56%;
  }
}

@media screen and (min-width:581px){
  .blogFilterWrapper{
    float:right;
    width:20%;
  }
}

@media screen and (min-width:768px){
  .blogFilterWrapper{
    padding-top:4%;
    width:40%;
  }
}

.blogFilterWrapper ul{
  list-style:none;
  padding:0;
}

.blogFilterWrapper li{
  font-size:11px;
  margin:0 0 0 10px;
}

@media (min-width:768px),screen and (max-width:580px){
  .blogFilter{
    float:left;
    width:48%;
  }
}

@media (min-width:768px),screen and (max-width:580px){
  .blogFilterLeft{
    padding-right:4%;
  }
}

a.largeLinkBtn,a.linkAltBtn,a.linkBtn,a.modalLinkAltBtn,a.modalLinkBtn,button.altBtn,button.altLargeBtn,button.altModalBtn,button.defaultBtn,button.largeBtn,button.modalBtn{
  background:none;
  border:1px solid;
  color:currentColor;
  border-radius:0;
  font-family:Cinzel,serif;
  font-weight:500;
  text-decoration:none;
  text-transform:uppercase;
  vertical-align:middle;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

a.largeLinkBtn span,a.linkAltBtn span,a.linkBtn span,a.modalLinkAltBtn span,a.modalLinkBtn span,button.altBtn span,button.altLargeBtn span,button.altModalBtn span,button.defaultBtn span,button.largeBtn span,button.modalBtn span{
  background:none;
  color:inherit;
  height:auto;
  line-height:inherit;
  padding:0 2em;
}

button.defaultBtn,button.largeBtn,button.modalBtn{
  color:#4d3040;
}

button.defaultBtn:active,button.defaultBtn:hover,button.largeBtn:active,button.largeBtn:hover,button.modalBtn:active,button.modalBtn:hover{
  background:#4d3040;
  color:#fff;
}

button.altModalBtn,button.modalBtn{
  height:2.5em;
  line-height:inherit;
}

button.altBtn,button.altLargeBtn,button.altModalBtn{
  color:#a36e44;
}

button.altBtn:active,button.altBtn:hover,button.altLargeBtn:active,button.altLargeBtn:hover,button.altModalBtn:active,button.altModalBtn:hover{
  background:#666;
  background:#a36e44;
  color:#fff;
}

a.largeLinkBtn,a.linkBtn,a.modalLinkBtn{
  color:#4d3040;
}

a.largeLinkBtn:active,a.largeLinkBtn:hover,a.linkBtn:active,a.linkBtn:hover,a.modalLinkBtn:active,a.modalLinkBtn:hover{
  background:#4d3040;
  color:#fff;
}

a.linkAltBtn,a.modalLinkAltBtn{
  color:#a36e44;
}

a.linkAltBtn:active,a.linkAltBtn:hover,a.modalLinkAltBtn:active,a.modalLinkAltBtn:hover{
  background:#a36e44;
  color:#fff;
}

a.modalLinkAltBtn,a.modalLinkBtn{
  min-width:auto;
}

.site-footer{
  margin-top:3em;
  text-align:center;
}

.site-footer__info__wrapper{
  background-color:#fff;
  background-image:url(../images/footer-bg.jpg);
  background-repeat:no-repeat;
  background-position:50%;
  background-size:cover;
  padding:54px 0;
}

.site-footer__info.fw-container{
  padding:0 1.5%;
}

.site-footer__info>li{
  padding:30px 1.5%;
  display:none;
  font-size:15px;
  line-height:2.2em;
}

.site-footer__info>li:nth-child(n+3){
  display:block;
}

.site-footer__info .quick-links a{
  text-transform:uppercase;
  font-weight:100;
}

.site-footer__info .hours{
  font-size:inherit;
  line-height:inherit;
}

.site-footer__info .hours a{
  color:rgba(163, 110, 68, .61);
  text-decoration:underline;
}

.site-footer__info .v65-pod{
  margin-top:2em;
}

.site-footer__info .v65-pod:first-child{
  margin-top:0;
}

.site-footer__info .v65-podTitle{
  text-transform:uppercase;
  text-decoration:underline;
}

@media screen and (min-width:768px){
  .site-footer__info{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
  }
  .site-footer__info>li{
    display:block;
    -ms-flex-preferred-size:50%;
        flex-basis:50%;
  }
  .site-footer__info .v65-podTitle{
    font-size:1.2em;
  }
}

@media screen and (min-width:980px){
  .site-footer__info{
    -ms-flex-wrap:nowrap;
        flex-wrap:nowrap;
    -ms-flex-pack:justify;
        justify-content:space-between;
  }
  .site-footer__info>li{
    -ms-flex-preferred-size:auto;
        flex-basis:auto;
    max-width:25%;
  }
}

.site-footer__terms-copyright{
  background-color:#041e00;
  padding:10px 0;
}

.site-footer__terms-copyright a{
  color:#fff;
}

@media screen and (min-width:768px){
  .site-footer{
    text-align:left;
  }
}

.v65-socialMediaLinks{
  letter-spacing:-5px;
  white-space:nowrap;
}

.v65-socialMediaLinks li{
  margin-right:0;
}

.v65-socialMediaLinks a{
  border-radius:100%;
  width:32px;
  height:32px;
  background:#4d3040;
  display:inline-block;
  text-align:center;
  color:#fff;
  font-size:16px;
  line-height:32px;
  margin-right:8px;
  letter-spacing:0;
}

body{
  color:#666;
  min-width:350px;
}

.fw-container{
  width:100%;
  margin:0 auto;
  max-width:none;
  padding:0 3%;
}

.v65-productWrapper h1{
  float:none;
  width:auto;
}
