{% extends "layouts/base.njx" %}

{% block content %}
	<section class="content pageContent v65-group">
		<a class="backToTop" href="#"><i class="icon-up-bold"></i>TOP</a>

		<div class="blogContent">
			{% if production %}
				<v65:mainContent></v65:mainContent>
			{% else %}
				{% block mainContent %}{% endblock %}
			{% endif %}
		</div>
		
		<aside class="blogFilterWrapper">
			<a name="footerMenu"></a>
			
			<div class="blogFilter blogFilterLeft">
				<h5>Recent Posts</h5>
				<v65:blogRecentPosts maxrows="10"></v65:blogRecentPosts>

				<h5>Blog Categories</h5>
				<v65:blogCategories></v65:blogCategories>
			</div>

			<div class="blogFilter blogFilterRight">
				<h5>Our Writers</h5>
				<v65:blogAuthors></v65:blogAuthors>

				<h5>Blog Archives</h5>
				<v65:blogArchives></v65:blogArchives>
			</div>
		</aside>
	</section>

{% endblock %}
