{% extends "wide.htm" %}

{% block mainContent %}

		<h1>Shopping Cart</h1>

<p>Please review the contents of your cart. When you have finished please proceed to the check out.</p> 

<hr class="dotted" style="clear:both;" />



<div id="v65-cartHeader">

	
	
	<div id="v65-cartCheckOutCoupons">
		
		<form method="post" action="/index.cfm?method=cart.addCouponToCart" class="v65-form">
				
			<fieldset>  
				<legend>Have a coupon code?</legend>
	
				<div>
					<input type="text" aria-label="Coupon Code" name="CouponCode" id="v65-CouponCode" value="" /> 
					<button type="submit" value="submit" class="modalBtn"><span>Apply Coupon</span></button> 
				</div>
				 
			</fieldset> 	
		
		</form>
	
	</div>
	
	
	
	<div class="v65-clear">&nbsp;</div> 
	
</div>

						
								



<table width="100%" border="0" cellspacing="0" cellpadding="0" id="v65-cartTable">
	
	
	
	
</table>
<!--/Cart-->





<div id="v65-cartFooter">
	
	
	<div id="v65-cartPaymentOptions">
		
			<img src="https://assetss3.vin65.com/images/checkout/Visa.gif" alt="Visa" />
		
			<img src="https://assetss3.vin65.com/images/checkout/MasterCard.gif" alt="MasterCard" />
		
			<img src="https://assetss3.vin65.com/images/checkout/AmericanExpress.gif" alt="AmericanExpress" />
		
	</div>
	
	
	
	<div class="v65-cartCheckOutButtons">
		<a href="/index.cfm?method=pages.showPage&pageID=C518615D-F909-5775-6ACE-FCBE4AA18FB4" class="linkAltBtn"><span>Keep Shopping</span></a>
		
	</div>
	
	
	<div class="v65-clear">&nbsp;</div> 
	
</div>



{% endblock %}
