{% extends "layouts/base.njx" %}

{% block content %}
	<article class="content pageContent v65-group">		
		<a class="backToTop" href="#"><i class="icon-up-bold"></i>TOP</a>

		{% if production %}
			<v65:mainContent></v65:mainContent>
		{% else %}
			{% block mainContent %}{% endblock %}
		{% endif %}
	</article>
{% endblock %}
