{% extends "layouts/base.njx" %}

{% block content %}
	<section class="content homepageContent v65-group">
		<a class="backToTop" href="#"><i class="icon-up-bold"></i>TOP</a>
		
		<div id="slider"></div>
				
		<article class="homepageText">
			{% if production %}
				<v65:mainContent></v65:mainContent>
			{% else %}
				{% block mainContent %}{% endblock %}
			{% endif %}
		</article>
		
		<div class="homepageProductGroup">
			<v65:product:group code="HomepageProductGroup"></v65:product:group>
		</div>
	</section>

{% endblock %}
