{% extends "layouts/v65.njx" %}

{% block content %}
	<section class="content homepageContent v65-group">
		<a class="backToTop" href="#"><i class="icon-up-bold"></i>TOP</a>
		
		<div id="slider"></div>
				
		<article class="homepageText">
			<v65:mainContent></v65:mainContent>
		</article>
		
		<div class="homepageProductGroup">
			<v65:product:group code="HomepageProductGroup"></v65:product:group>
		</div>
	</section><!--/homepageContent-->
{% endblock %}

{% block templateJs %}
	{% if production %}
	<v65:js files="/assets/js/scripts.js,/assets/nivo/jquery.nivo.slider.pack.js"></v65:js>
	{% else %}
	<script src="/assets/js/scripts.js" type="text/javascript"></script>
	<script src="/assets/nivo/jquery.nivo.slider.pack.js" type="text/javascript"></script>
	{% endif %}
{% endblock %}
