{% extends "layouts/base.njx" %}

{% block content %}
	<section class="content pageContent v65-group">
		<a class="backToTop" href="#"><i class="icon-up-bold"></i>TOP</a>

		<article class="page">
			{% if production %}
				<v65:mainContent></v65:mainContent>
			{% else %}
				{% block mainContent %}{% endblock %}
			{% endif %}
		</article>
		
		<aside class="subMenu">
			<a name="footerMenu"></a>
			<h3><v65:leftNavSectionTitle depth="2"></v65:leftNavSectionTitle></h3>
			<v65:layoutLeftNav></v65:layoutLeftNav>
		</aside>
	</section>

{% endblock %}
