{#
For all intents and purposes, this is a PARTIAL, not a regular template.

In the WineDirect Designer Launch screen, it does NOT get used in the first
block of dropdowns for "Product Drilldown"

It's to be used in the second block, for "Product Custom Drilldown"

#}
<v65:stateProfile:complianceAdvisory></v65:stateProfile:complianceAdvisory>

<div class="v65-productWrapper v65-group">

     <h1>
          <v65:product:title></v65:product:title>
          <v65:product:subtitle></v65:product:subtitle>
     </h1>

     <div class="v65-product-leftCol">

          <v65:product:photo showPhoto="1"></v65:product:photo>

          <v65:product:photos></v65:product:photos>

          <div class="v65-productDrilldown-specs">

               <v65:wine:specs></v65:wine:specs>
               <v65:product:media></v65:product:media>

         </div>

     </div>

     <div class="v65-product-rightCol">

          <v65:product:shipDate></v65:product:shipDate>

          <div class="v65-productAddToCart-drilldown">
               <v65:product:actionMessage></v65:product:actionMessage>
               <v65:product:inCompliantStateMessage></v65:product:inCompliantStateMessage>
               <v65:product:availability></v65:product:availability>
               <v65:product:addToCart></v65:product:addToCart>
          </div>

          <v65:product:reviewStats></v65:product:reviewStats>

          <v65:product:socialBar></v65:product:socialBar>

          <v65:product:description></v65:product:description>

           <div class="v65-productDrilldown-specs2">

               <v65:wine:specs></v65:wine:specs>
               <v65:product:media></v65:product:media>

         </div>

         <v65:wine:profile></v65:wine:profile>

          <v65:product:reviews></v65:product:reviews>

      </div>

</div>

<v65:product:relatedProducts></v65:product:relatedProducts>
